<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Соревнования на Кубок Аэробии | Правила соревнований</title>
  <meta content="http://aerobia.ru/assets/aerobia-2ebacfbc9d1c2bc03bfab224ec470e42.gif" property="og:image" />
  <link href="assets/application-1fd0a358e6b9e12ee7c6518fefc54274.css" media="screen" rel="stylesheet" type="text/css" />
<style type="text/css">
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #8C8C8C; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');background-color:#8C8C8C; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #A3A3A3; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #444444; border-left: 1px solid #DBDBDB;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #EBEBEB; color: #444444; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #8C8C8C;background: #EBEBEB;} .datagrid table tfoot td { padding: 3px 10px; font-size: 12px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D)); color:#FFFFFF } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #F5F5F5;border: 1px solid #8C8C8C;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');background-color:#8C8C8C; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #7D7D7D; color: #F5F5F5; background: none; background-color:#8C8C8C;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }
</style>
</head>
<body>

<header>
  <div>
    <strong class="logo ru"><a href="http://aerobia.ru">Aerobia</a></strong>
  </div>
</header>

  <aside class="current user">
    <div>
      <div>
        <div class="name">
          <div>
            <strong>Кубок Аэробии</strong>
          </div>
        </div>
        <nav>
            <ul>
                <li class="workouts"><a href="index.html"><span></span>Таблица</a></li>
                <li class="inventory"><a href="feed<%=week%>.html"><span></span>Тренировки</a></li>
                <li class="friends"><a href="teams<%=week%>.html"><span></span>Команды</a></li>
                <li class="users"><a href="users.html"><span></span>Участники</a></li>
                <li class="statistics"><a href="statistics<%=week%>.html"><span></span>Статистика</a></li>
                <li class="bests active"><a href="rules.html"><span></span>Правила</a></li>
            </ul>
        </nav>
      </div>
    </div>
  </aside>


<div class="middle">
  <div class="block">
  <div class="section">
    <table>
      <tr>
        <td class="aside">
          <!-- nav class="sub"><ul><li class="active"><span>Моя лента</span></li> <li><a href="http://aerobia.ru/favorites">Избранное</a></li></ul> <ul><li><a href="http://aerobia.ru/posts/best">Лучшее</a></li> <li><a href="http://aerobia.ru/posts">Общая лента</a></li></ul></nav -->
          <aside class="clubs separate">
          </aside>


        </td>
        <td>
          <section class="post">
<h1 class="title">Проект правил чемпионата Аэробии и Кубка Аэробии 2021 года</h1>
<p>
TLDR: Это дружеские виртуальные не вполне соревнования по бегу. Участники разбиваются на команды и стараются в течение каждой недели бегать как можно больше. Побеждает та команда, которая больше превысит свой средний недельный объем за прошлый год. Тот, кто в прошлом году бегал по двадцать километров в неделю, а сейчас пробежал сорок, бегал лучше того, кто пробежал сто вместо прошлогодних девяноста.
</p>
<br />
<h3 id="org44759ed">0. Что это не?</h3>
<p>
У нас все не так, как у людей. О нас никто не знает, и победители никого, кроме своих товарищей, не интересуют. Медалек и грамот не будет, очки в зачет международной классификации не идут, и вообще, бегаем не за корову, а поэтому особо приветствуем дух честной игры и стараемся обходиться без членовредительства.
</p>

<br />
<h3 id="org156ab55">1. Что это за?</h3>
<p>
После закрытия одного умеренно популярного бегового трекера его посетители решили на расходиться, а еще немного побегать вместе. Потом, когда все перешли на Страву, к ним присоединились и другие желающие. Но, к счастью, настоящими спортивными соревнованиями это мероприятие так и не стало.
</p>

<br />
<h3 id="org2c436c2">2. Зачем?</h3>
<p>
Смысл затеи в том, чтобы придать дополнительный смысл каждой пробежке, подтолкнуть каждого участника к регулярным занятиям и, конечно, послужить поводом для трепа и зубоскальства, для знакомства и совместных побегушек.
</p>

<br />
<h3 id="org6c894d0">3. Кто?</h3>
<p>
В соревнованиях могут участвовать все желающие, зарегистрированные на Страве, и прошедшие регистрацию на сайте <a href="http://aerobia.net">http://aerobia.net</a>. Желательно, чтобы на момент начала соревнований участник имел полный год тренировок на Страве. Если данных за весь год на Страве нет, участник может предъявить свои результаты за предыдущий год на любом другом трекере. Если этих результатов нет и на других трекерах, можно поверить на слово, но в любом случае необходим по меньшей мере годовой опыт беговых тренировок. Это требование должно уменьшить число участников, внезапно исчезающих из соревнований.
</p>

<br />
<h3 id="org8e87110">4. Когда?</h3>
<p>
Соревнования проходят с 1 января по 26 декабря 2021 года и включают в себя три этапа.
</p>

<p>
С 1 января по 17 января проходит пролог — индивидуальные соревнования на максимальное количество километров.
</p>

<p>
С 18 января начинается регулярный командный чемпионат и заканчивается 26 декабря
</p>

<p>
В октябре или ноябре (в зависимости от количества команд) начнется стадия плей-офф на Кубок Аэробии, которая закончится тоже 26 декабря.
</p>

<p>
Результаты будут подведены 29 декабря.
</p>

<br />
<h3 id="org21d1117">5. Что делать?</h3>
<p>
Цель соревнования проста — набрать как можно больше очков, которые присуждаются в основном за набеганные километры. В зачет идут все тренировки на Страве с видом спорта "Бег" или "Виртуальный забег". Наличие GPS-трека не обязательно. Все эти тренировки, в том числе закрытые на Страве, будут видны на сайте <a href="https://aerobia.net">https://aerobia.net</a>.
</p>

<br />
<h4 id="org929ec01">5.1. Пролог</h4>
<p>
Пролог — индивидуальный этап, на котором побеждают те участники, которые пробегут больше километров.  Семь победителей среди женщин и семь среди мужчин получают по 35, 30, 25, 20, 15, 10 и 5 очков, которые на следующем этапе будут добавлены командам, в которые попадут эти победители.
</p>

<br />
<h4 id="orgcc4f0ee">5.2. Чемпионат</h4>
<p>
К моменту окончания пролога заканчивается формирование команд и начинается регулярный чемпионат. Здесь побеждает не тот, кто пробежит больше километров, а тот, кто сможет увеличить свой километраж больше, чем в прошлом году. Для этого каждый участник при регистрации указывает свой километраж, набеганный в прошлом году.
</p>

<p>
В регулярном чемпионате очки присваиваются за максимальное превышение среднего прошлогоднего объема команды. В начале года для каждой команды рассчитывается недельная цель, для этого складывается количество километров, которое пробежал каждый участник команды в предыдущем году, и умножается на 7/365. После этого каждую неделю подсчитывается, сколько процентов от недельной цели команды пробежали все участники команды в сумме.
</p>

<p>
В соответствии со этими процентами команды занимают места в недельной таблице. Каждая команда получает N∗5-M∗5 очков, где N — общее количество команд, а M — место команды на этой неделе (т.е., если команд 8, то победитель получает 35 очков, занявший второе место — 30 и т.д.). Победителем чемпионата Аэробии будет признана команда, набравшая в конце чемпионата наибольшее количество очков. Результаты подводятся в ночь на среду, чтобы все успели вернуться домой с соревнований и выложить свои воскресные треки. Тренировки, выложенные после подведения итогов, не могут быть засчитаны. Пересчет недельных итогов возможен только в случае технической ошибки.
</p>

<p>
Кроме того, чтобы участие в соревнованиях было интересным для более сильных спортсменов, каждую неделю лучшие бегуны получают по 3 индивидуальных очка, которые добавляются к командному результату. Эти очки присуждаются за самую длинную тренировку, самую быструю тренировку, самый большой недельный километраж, самый высокий средний темп и за максимальное превышение личного плана за неделю. Очки за самую быструю пробежку присуждаются только за тренировки не менее 3 км. Очки за самую быструю неделю присуждаются только если суммарная дистанция не менее 10 км. Индивидуальные очки присуждаются отдельно победителям среди мужчин и среди женщин. Эти очки идут только в зачет регулярного чемпионата. 
</p>

<p>
В ситуации, когда два участника бежали на соревнованиях одну и ту же дистанцию, но GPS показывает разные результаты, во внимание принимаются данные, записанные в треке на Страве. Время в таких случаях тоже берется не из протоколов, а из данных на Страве.
</p>

<br />
<h4 id="orgdd79039">5.3. Плей-офф</h4>
<p>
В стадии плей-офф побеждает команда, чьи участники пробежали больше километров, чем соперники, без учета процентов, недельных норм и бонусных очков. Лучшие восемь команд регулярного чемпионата будут соревноваться попарно по кубковой системе в три тура. Каждый тур состоит из трех недель с одной неделей перерыва между турами. Победителем каждого тура становится команда, выигравшая по крайней мере две недели из трех. Победитель финала становится обладателем Кубка.
</p>

<br />
<h3 id="org6927f32">6. Где?</h3>
<p>
До 2019 года соревнования проводились на спортивном трекере Аэробия, отсюда и название. Сайт соревнований, где публикуются результаты: <a href="http://aerobia.net">http://aerobia.net</a>. Обсуждение соревнований проходит на Страве в открытом клубе "Аэробия" (<a href="https://www.strava.com/clubs/aerobia">https://www.strava.com/clubs/aerobia</a>) и закрытом клубе "Кубок Аэробии" (<a href="https://www.strava.com/clubs/aerobiacup">https://www.strava.com/clubs/aerobiacup</a>), на форуме <a href="https://aerobia.ru">https://aerobia.ru</a> и в Telegram-канале Аэробия.
</p>

<br />
<h3 id="orge2fc336">7. С кем?</h3>
<p>
Команды формируются в более-менее случайном порядке так, чтобы сумма километров у них была примерно одинаковой. Жеребьевка пройдет в первых числах января, когда станет окончательно ясно, кто сколько пробежал в предыдущем году. Пожеланию по составу команд принимаются, но учитываются по мере возможности. Количество участников в командах может отличаться. Количество команд будет зависеть от того, сколько наберется участников. После жеребьевки команды выбирают себе названия. Команды создаются только на один год. 
</p>

<p>
Участник может выйти из состава команды по собственному желанию. В ходе соревнований команда может попросить организатора об отчислении участника команды, регулярно пренебрегающего своими обязанностями в команде. Окончательное решение принимает организатор соревнований. Вернуться в соревнования после выхода нельзя.
</p>

<p>
Команда, потерявшая участника, может заменить его на любого другого желающего, но замена не является необходимой. Команда может продолжить соревнования в сокращенном составе. При этом у нее сохраняется право взять еще одного участника когда-нибудь потом.
</p>

<p>
При изменениях в составе команды недельная цель тоже изменяется соответственно. Но в стадии плей-офф, где учитывается только чистый километраж, команда, оказавшаяся в меньшинстве, оказывается в невыгодном положении.
</p>

            <br />
            <br />
          </section>
        </td>
      </tr>
    </table>
  </div>
</div>


</div>

<footer>
  <div>

    <p class="download">
</p>

    <div class="description">
      <h3 class="aerobia ru">Аэробия</h3>

    </div>

    <a href="http://aerobia.net/2018">Результаты 2018 года</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://aerobia.net/2019">Результаты 2019 года</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://aerobia.net/2020">Результаты 2020 года</a>
  </div>
</footer>

<div class="foobar">
  <div>
    <div>
      <!--p class="copyright"><a href="http://www.scada.lv/" class="scada" target="_blank">Сервис создан в <i>Scada</i></a></p-->
      <ul>
        <li class="feedback"><a href="mailto:info@aerobia.net">info@aerobia.net</a></li>
        <li><a href="http://www.facebook.com/Aerobia" target="_blank">Facebook</a></li>
        <li><a href="http://vk.com/aerobia" target="_blank">Вконтакте</a></li>
        <li><a href="https://twitter.com/Aerobiaru" target="_blank">Twitter</a></li>
        <!--li class="terms"><a href="http://aerobia.ru/terms_of_service">Пользовательское соглашение</a></li-->
      </ul>
    </div>
  </div>
</div>


</body>
</html>
