<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Соревнования на Кубок Аэробии | Регистрация 2021</title>
  <meta content="http://aerobia.ru/assets/aerobia-2ebacfbc9d1c2bc03bfab224ec470e42.gif" property="og:image" />
  <link href="/assets/application-1fd0a358e6b9e12ee7c6518fefc54274.css" media="screen" rel="stylesheet" type="text/css" />
<style type="text/css">
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #8C8C8C; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');background-color:#8C8C8C; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #A3A3A3; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #444444; border-left: 1px solid #DBDBDB;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #EBEBEB; color: #444444; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #8C8C8C;background: #EBEBEB;} .datagrid table tfoot td { padding: 3px 10px; font-size: 12px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D)); color:#FFFFFF } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #F5F5F5;border: 1px solid #8C8C8C;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');background-color:#8C8C8C; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #7D7D7D; color: #F5F5F5; background: none; background-color:#8C8C8C;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }
</style>
</head>
<body>

<header>
  <div>
    <strong class="logo ru"><a href="http://aerobia.ru">Aerobia</a></strong>
  </div>
</header>

  <aside class="current user">
    <div>
      <div>
        <div class="name">
          <div>
            <strong>Кубок Аэробии</strong>
          </div>
        </div>
        <nav>
            <ul>
                <li class="workouts"><a href="/index.html"><span></span>Таблица</a></li>
                <li class="friends"><a href="/teams01.html"><span></span>Команды</a></li>
                <li class="users"><a href="/users.html"><span></span>Участники</a></li>
                <li class="statistics"><a href="/statistics01.html"><span></span>Статистика</a></li>
                <li class="bests"><a href="/rules.html"><span></span>Правила</a></li>
            </ul>
        </nav>
      </div>
    </div>
  </aside>


<div class="middle">
  <div class="block">
  <div class="section">
    <table>
      <tr>
        <td class="aside">
          <!-- nav class="sub"><ul><li class="active"><span>Моя лента</span></li> <li><a href="http://aerobia.ru/favorites">Избранное</a></li></ul> <ul><li><a href="http://aerobia.ru/posts/best">Лучшее</a></li> <li><a href="http://aerobia.ru/posts">Общая лента</a></li></ul></nav -->
          <aside class="clubs separate">
	  </aside>


        </td>
        <td>


	  <section class="post">
	  <br />
	  <h1>Регистрация на чемпионат и Кубок Аэробии 2021 года</h1>
	  <br />
	  <p>Регистрация на Кубок Аэробии 2021 года начинается 7 декабря 2020 года и закончится 31 декабря 2020 года. В процессе регистрации Вам понадобится войти в свой аккаунт на Страве, подтвердить, что Вы разрешаете сайту Аэробии доступ к Вашим данным на Страве, а также ввести свой адрес электронной почты и свой тренировочный объем за 2020 год. Если Вы пока не знаете, какой у Вас будет объем в этом году, не переживайте, в январе Вы сможете указать свой точный километраж.</p>
	  <br />
	  <p>Для тех, кто регистрируется впервые, ниже приведен проект правил соревнований на 2021 год. На всякий случай перескажу их вкратце. Разбиваемся в случайном порядке на команды. Для каждой команды общий километраж за 2020 год будет примерно одинаковым. Делим его на 52 недели и для каждой команды получаем недельный план. Каждую неделю соревнуемся, какая команда пробежит больше процентов от своего плана. Каждую неделю командам присваиваются очки — последней 0 очков, предпоследней 5 очков, предпредпоследней 10 очков и т.д. Плюс к этим очкам будут еще дополнительные. С 1 по 16 января, пока еще нет команд, будет проходить индивидуальный пролог. Те 7 человек, которые пробегут больше всего километров, получат от 5 до 35 очков, которые пойдут в зачет команды. В течение года каждую неделю будет присваиваться еще по три индивидуальных очка за максимальный недельный километраж, за максимальную среднюю скорость, самую длинную пробежку и самую быструю тренировку (от 3000 метров). Эти очки тоже будут учитываться в чемпионате Аэробии. Все очки суммируются, и в конце года в чемпионате Аэробии побеждает та команда, которая наберет больше очков. Кроме того, в конце года лучшие команды по системе с выбыванием поборются за титул обладателя кубка. В стадии плей-офф будем соревноваться уже не на проценты выполнения плана, а просто на километры, кто больше пробежит. Вся текущая статистика есть <a href="https://aerobia.net">на сайте Кубка</a> . Обсуждение проходит <a href="https://www.strava.com/clubs/526223/discussion" >в закрытом клубе "Кубок Аэробии" в Страве</a> и в Telegram-канале Аэробия. </p>
          <br />
          <p>Если все понятно, можете регистрироваться. Если нет, прочитайте правила ниже и задавайте вопросы.</p>
          <br />
          <form action="https://www.strava.com/oauth/authorize" method="get">
                <br />
<input type="hidden" name="client_id" value="35464" />
<input type="hidden" name="redirect_uri" value="https://aerobia.net/reg/reg1" />
<input type="hidden" name="response_type" value="code" />
<input type="hidden" name="scope" value="read_all" />
<input type="hidden" name="scope" value="activity:read_all" />
                <center><button type="submit" style="padding:20px">Регистрация</button></center>
                <br />
          </form>
<br />
<div id="content">
    <h1 class="title">Проект правил чемпионата Аэробии и Кубка Аэробии 2021 года</h1>
    <p>
    TLDR: Это дружеские виртуальные соревнования по бегу. Участники разбиваются на команды и стараются в течение каждой недели бегать как можно больше. Побеждает тот, кто больше превысит свой средний недельный объем за прошлый год. Тот, кто в прошлом году бегал по двадцать километров в неделю, а сейчас пробежал сорок, победит того, кто пробежал сто вместо прошлогодних девяноста.
    </p>
    <br />

    <div id="outline-container-org99d7552" class="outline-2">
        <h2 id="org99d7552"><span class="section-number-2">0.</span> Что это не?</h2>
        <div class="outline-text-2" id="text-1">
            <p>
            Это вам не соревнования какой-нибудь сопливой федерации по штампованным правилам. У нас все не так, как у людей. О нас никто не знает, и победители никого, кроме своих товарищей, не интересуют. Медалек и грамот не будет, очки в зачет международной классификации не идут.
            </p>
        </div>
    </div>
    <br />

    <div id="outline-container-org3f81e58" class="outline-2">
        <h2 id="org3f81e58"><span class="section-number-2">1.</span> Что это за?</h2>
        <div class="outline-text-2" id="text-2">
            <p>
            После закрытия одного умеренно популярного бегового трекера его посетители решили на расходиться, а еще немного побегать вместе. Потом, когда все перешли на Страву, к ним присоединились и другие желающие. Но, к счастью, настоящими спортивными соревнованиями это мероприятие так и не стало.
            </p>
        </div>
    </div>
    <br />

    <div id="outline-container-orgb5606c2" class="outline-2">
        <h2 id="orgb5606c2"><span class="section-number-2">2.</span> Зачем?</h2>
        <div class="outline-text-2" id="text-3">
            <p>
            Смысл затеи в том, чтобы придать дополнительный смысл каждой пробежке, подтолкнуть каждого участника к регулярным занятиям и, конечно, послужить поводом для трепа и зубоскальства, для знакомства и совместных побегушек.
            </p>
        </div>
    </div>
    <br />

    <div id="outline-container-org17ba81e" class="outline-2">
        <h2 id="org17ba81e"><span class="section-number-2">3.</span> Кто?</h2>
        <div class="outline-text-2" id="text-4">
            <p>
            В соревнованиях могут участвовать все желающие, зарегистрированные на Страве, и прошедшие регистрацию на сайте <a href="http://aerobia.net">http://aerobia.net</a>. Желательно, чтобы на момент начала соревнований участник имел полный год тренировок на Страве. Если данных за весь год на Страве нет, участник может предъявить свои результаты за предыдущий год на любом другом трекере. Если этих результатов нет и на других трекерах, можно поверить на слово, но в любом случае необходим по меньшей мере годовой опыт беговых тренировок. Это требование должно уменьшить число участников, внезапно исчезающих из соревнований.
            </p>
        </div>
    </div>
    <br />

    <div id="outline-container-org4b00ed5" class="outline-2">
        <h2 id="org4b00ed5"><span class="section-number-2">4.</span> Когда?</h2>
        <div class="outline-text-2" id="text-5">
            <p>
            Соревнования проходят с 1 января по 26 декабря 2021 года и включают в себя три этапа.
            </p>

            <p>
            С 1 января по 17 января проходит пролог — индивидуальные соревнования на максимальное количество километров.
            </p>

            С 18 января начинается регулярный командный чемпионат и заканчивается 26 декабря
            </p>

            <p>
            С 11 октября начнется стадия плей-офф на Кубок Аэробии, которая закончится тоже 26 декабря.
            </p>

            <p>
            Результаты будут подведены 29 декабря.
            </p>
        </div>
    </div>
    <br />

    <div id="outline-container-org64526c2" class="outline-2">
        <h2 id="org64526c2"><span class="section-number-2">5.</span> Что делать?</h2>
        <div class="outline-text-2" id="text-6">
            <p>
            Цель соревнования проста — набрать как можно больше очков, которые присуждаются в основном за набеганные километры. В зачет идут только открытые тренировки на Страве с видом спорта "Бег" или "Виртуальный забег". Наличие GPS-трека не обязательно.
            </p>
        </div>
    <br />

        <div id="outline-container-org0aec10d" class="outline-3">
            <h3 id="org0aec10d"><span class="section-number-3">5.1.</span> Пролог</h3>
            <div class="outline-text-3" id="text-6-1">
                <p>
                Пролог — индивидуальный этап, на котором побеждают те участники, которые пробегут больше километров.  Семь победителей среди женщин и семь среди мужчин получают по 35, 30, 25, 20, 15, 10 и 5 очков, которые на следующем этапе будут добавлены командам, в которые попадут эти победители.
                </p>
            </div>
        </div>
    <br />

        <div id="outline-container-org98fb9ed" class="outline-3">
            <h3 id="org98fb9ed"><span class="section-number-3">5.2</span> Регулярный чемпионат</h3>
            <div class="outline-text-3" id="text-6-2">
                <p> К моменту окончания пролога заканчивается формирование команд и начинается регулярный чемпионат. Здесь побеждает не тот, кто пробежит больше километров, а тот, кто сможет увеличить свой километраж больше, чем в прошлом году. Для этого каждый участник при регистрации указывает свой километраж, набеганный в прошлом году.</p>
                <p>
                В регулярном чемпионате очки присваиваются за максимальное превышение среднего прошлогоднего объема команды. В начале года для каждой команды рассчитывается недельная цель, для этого складывается количество километров, которое пробежал каждый участник команды в предыдущем году, и умножается на 7/365. После этого каждую неделю подсчитывается, сколько процентов от недельной цели команды пробежали все участники команды в сумме.
                </p>

                <p>
                В соответствии со этими процентами команды занимают места в недельной таблице. Каждая команда получает N∗5-M∗5 очков, где N — общее количество команд, а M — место команды на этой неделе (т.е., если команд 8, то победитель получает 35 очков, занявший второе место — 30 и т.д.). Победителем чемпионата Аэробии будет признана команда, набравшая в конце чемпионата наибольшее количество очков. Результаты подводятся в ночь на среду, чтобы все успели вернуться домой с соревнований и выложить свои воскресные треки. Тренировки, выложенные после подведения итогов, не могут быть засчитаны. Пересчет недельных итогов возможен только в случае технической ошибки.
                </p>

                <p>
                Кроме того, чтобы участие в соревнованиях было интересным для более сильных спортсменов, каждую неделю лучшие бегуны получают по 3 индивидуальных очка, которые добавляются к командному результату. Эти очки присуждаются за самую длинную тренировку, самую быструю тренировку, самый большой недельный километраж, самый высокий средний темп и за максимальное превышение личного плана за неделю. Очки за самую быструю пробежку присуждаются только за тренировки не менее 3 км. Очки за самую быструю неделю присуждаются только если суммарная дистанция не менее 10 км. Индивидуальные очки присуждаются отдельно победителям среди мужчин и среди женщин. Эти очки идут только в зачет регулярного чемпионата. 
                </p>

                <p>
                В ситуации, когда два участника бежали на соревнованиях одну и ту же дистанцию, но GPS показывает разные результаты, во внимание принимаются данные, записанные в треке на Страве. Время в таких случаях тоже берется не из протоколов, а из данных на Страве.
                </p>

                <p>
                В ходе чемпионата пройдут также три спринтерских этапа и три критериума. На спринтах команды получат обычное количество очков, но не за расстояние, а за лучшую среднюю скорость на неделе. В критериумах каждый день будет присваиваться по 2 очка за лучшее выполнение дневного плана команды. Эти очки пойдут в зачет регулярного чемпионата.
                </p>
            </div>
        </div>
    <br />

        <div id="outline-container-orgc9e83f1" class="outline-3">
            <h3 id="orgc9e83f1"><span class="section-number-3">5.3.</span> Кубок Аэробии</h3>
            <p> В стадии плей-офф побеждает команда, чьи участники пробежали больше километров, чем соперники, без учета процентов, недельных норм и бонусных очков. Лучшие восемь команд регулярного чемпионата будут соревноваться попарно по кубковой системе в три тура. Каждый тур состоит из трех недель с одной неделей перерыва между турами. Победителем каждого тура становится команда, выигравшая по крайней мере две недели из трех. Победитель финала становится обладателем Кубка.</p>
        </div>
    </div>
    <br />

    <div id="outline-container-orgcfc98a3" class="outline-2">
        <h2 id="orgcfc98a3"><span class="section-number-2">6.</span> Где?</h2>
        <div class="outline-text-2" id="text-7">
            <p>
            До 2019 года соревнования проводились на спортивном трекере Аэробия, отсюда и название. Сайт соревнований, где публикуются результаты: <a href="http://aerobia.net">http://aerobia.net</a>. Обсуждение соревнований проходит на Страве в открытом клубе "Аэробия" (<a href="https://www.strava.com/clubs/aerobia">https://www.strava.com/clubs/aerobia</a>) и закрытом клубе "Кубок Аэробии" (<a href="https://www.strava.com/clubs/aerobiacup">https://www.strava.com/clubs/aerobiacup</a>), и в Telegram-канале Аэробия.
            </p>
        </div>
    </div>
    <br />

    <div id="outline-container-org00c7477" class="outline-2">
        <h2 id="org00c7477"><span class="section-number-2">7.</span> С кем?</h2>
        <div class="outline-text-2" id="text-8">
            <p>
            Команды формируются в более-менее случайном порядке так, чтобы сумма километров у них была примерно одинаковой. Жеребьевка пройдет в первых числах января, когда станет окончательно ясно, кто сколько пробежал в предыдущем году. Пожеланию по составу команд принимаются, но учитываются по мере возможности. Количество участников в командах может отличаться. Количество команд будет зависеть от того, сколько наберется участников. После жеребьевки команды выбирают себе названия. Команды создаются только на один год. 
            </p>

            <p>
            Участник может выйти из состава команды по собственному желанию. В ходе соревнований команда может попросить организатора об отчислении участника команды, регулярно пренебрегающего своими обязанностями в команде. Окончательное решение принимает организатор соревнований. Вернуться в соревнования после выхода нельзя.
            </p>

            <p>
            Команда, потерявшая участника, может заменить его на любого другого желающего, но замена не является необходимой. Команда может продолжить соревнования в сокращенном составе. При этом у нее сохраняется право взять еще одного участника когда-нибудь потом.
            </p>

            <p>
            При изменениях в составе команды недельная цель тоже изменяется соответственно. Но в стадии плей-офф, где учитывается только чистый километраж, команда, оказавшаяся в меньшинстве, оказывается в невыгодном положении.
            </p>
        </div>
    </div>
</div>
	  </section>
        </td>
      </tr>
    </table>
  </div>
</div>


</div>

<footer>
  <div>

    <p class="download">
  <%#span>Скачать<br> Аэробия для</span> <a href="https://itunes.apple.com/ru/app/aerobia/id566375588?ls=1&amp;mt=8" class="iphone">iPhone</a> или <a href="https://play.google.com/store/apps/details?id=lv.scada.aerobia" class="android">Android</a%>
</p>

    <div class="description">
      <h3 class="aerobia ru">Аэробия</h3>
      Аэробия&nbsp;&mdash; это спортивный трекер позволяющий отслеживать и&nbsp;анализировать результаты ваших тренировок и&nbsp;делиться ими с&nbsp;друзьями. Лучший инструмент для бега, велоспорта, ходьбы, беговых лыж и&nbsp;любой другой физической активности.

    </div>

    <a href="http://aerobia.ru/investor">Информация инвесторам</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://aerobia.ru/wall">Доска почета</a>
  </div>
</footer>

<div class="foobar">
  <div>
    <div>
      <!--p class="copyright"><a href="http://www.scada.lv/" class="scada" target="_blank">Сервис создан в <i>Scada</i></a></p-->
      <ul>
        <li class="feedback"><a href="mailto:info@aerobia.ru">info@aerobia.ru</a></li>
        <li><a href="http://www.facebook.com/Aerobia" target="_blank">Facebook</a></li>
        <li><a href="http://vk.com/aerobia" target="_blank">Вконтакте</a></li>
        <li><a href="https://twitter.com/Aerobiaru" target="_blank">Twitter</a></li>
        <!--li class="terms"><a href="http://aerobia.ru/terms_of_service">Пользовательское соглашение</a></li-->
      </ul>
    </div>
  </div>
</div>


</body>
</html>
